    @media only screen and (max-width: 767px) {
    .container {
        margin-left: 3%;
        margin-right: 3%；
    }
}


/******************
******nav&&body*****
******************/

@media only screen and (min-width: 768px) and (max-width: 993px) {
    body {
        padding-top: 0px;
    }
    .navbar.navbar-default .navbar-brand {
        display: none;
    }
    .navbar.navbar-default .navbar-toggle {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
    .navbar.navbar-default .navbar-brand {
        visibility: hidden;
        padding: 0px;
    }
    .navbar.navbar-default .navbar-toggle {
        margin-top: 10px;
    }
    .btn-custom {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    #nav-home{
        display: none;
    }
}

@media only screen and (max-width: 993px) {
    #nav-committee{
        display: none;
    }
}
    
    

/******************
******top-hmoe*****
******************/

@media only screen and (min-width: 993px) {
    #top-home img {
        margin-top: 28%;
        margin-left: 12%;
        height: 70%;
        width: 70%;
        /*        border: 1px solid green;*/
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #top-home #btn-top {
        margin-bottom: 20px;
        font-size: 18px;
    }
    #top-home img {
        /*
        height: 90%;
        width: 90%;
*/
        /*        border:1px solid red;*/
        margin-top: 75%;
    }
    #tohash {
        visibility: hidden;
    }
}

@media only screen and (min-width: 521px) and (max-width: 768px) {
    #top-home {
        background: url(../images/top-home/mobile.png) no-repeat 50% 50%;
        background-size: cover;
    }
    #top-home img {
        height: 50%;
        width: 50%;
        /*        border:1px solid black;*/
        margin-top: 20%;
    }
    #top-home #btn-top {
        visibility: hidden;
    }
    #tohash {
        visibility: hidden;
    }
}

@media only screen and (max-width: 520px) {
    #top-home {
        background: #242a33 url(../images/top-home/mobile.png) no-repeat 50% 50%;
        background-size: cover;
    }
    #top-home img {
        height: 65%;
        width: 65%;
        margin-top: 50%;
        /*        border:1px solid blue;*/
    }
    #top-home #btn-top {
        visibility: hidden;
    }
    #tohash {
        visibility: hidden;
    }
}


/******************
*******about******
******************/

@media only screen and (max-width: 767px) {
    .text-padding {
        padding-left: 30px;
        padding-right: 30px;
    }
    .text-ch {
        font-size: 16px;
        line-height: 30px;
    }
    .text-ch-sm {
        font-size: 16px;
        line-height: 30px;
    }
    .text-eng {
        font-size: 14px;
        line-height: 28px;
    }
}


/******************
******submission*****
******************/

#submission .btn {
    margin-top: 30px;
}

#submission .btn-responsive {
    text-align: center;
}


/******************
******program*****
******************/

@media only screen and (max-width: 1200px) {
    #program-logo,
    program-space {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #program tbody,
    thead {
        float: left;
    }
    #program td,
    th {
        max-width: 767px;
        display: block;
    }
    #program .time {
        font-size: 90%;
        background: #eee;
    }
    #program thead tr {
        border-style: hidden;
    }
}


/******************
***speaker&industry&#panel ***
******************/

@media screen and (min-width: 768px) {
    .rwd-line {
        display: inline;
    }
}

@media screen and (max-width: 767px) {
    .speakers {
        margin-bottom: 20px;
    }
    .panelist {
        margin-bottom: 20px;
    }
    #panel h3{
        font-size: 18px;
    }
}

/******************
***attend***
******************/

/*
@media screen and (max-width: 767px) {
    #accommodation tbody,
    thead {
        float: left;
    }
    #accommodation td,
    th {
        max-width: 767px;
        display: block;
    }
    #accommodation .time {
        font-size: 90%;
        background: #eee;
    }
    #accommodation thead tr {
        border-style: hidden;
    }
}
*/

/******************
***transport-info***
******************/

@media screen and (max-width: 767px) {
    .location {
        display: block;
    }
    #transport-info iframe {
        height: 350px;
    }
    /******************
***TAICHI2018***
******************/
    @media screen and (max-width: 767px) {
        #TAICHI-info {
            display: none;
        }
    }